# Build Folders
bin/
obj/

# User-specific files
.vs/
*.user
*.suo

# IDEs
.idea/
.vscode/

# Log files
*.log

# ASP.NET temporary files
*.pdb
*.dbmdl

# Entity Framework
Migrations/

# SQLite Database
# *.db
# .sqlite

# Static Files
wwwroot/uploads/

# OS Specific
.DS_Store
Thumbs.db
