<section class="about-section">
    <div class="about-box">
        <div class="pet-icons">
            <img src="/images/chococat.png" alt="Cat">
            <img src="/images/cookiesdog.png" alt="Dog 1">
            <img src="/images/orangecat.png" alt="CatDog">
            <img src="/images/milodog.png" alt="Dog 2">
        </div>
        <h1>Contact</h1>
        <p>Have a question, suggestion, or just want to say hi? We’d love to hear from you!</p>
        <p>Whether you're a future pet parent, an animal shelter looking to partner with us, or a fellow pet lover with ideas—we’re all ears (and tails)! </p>
        <p>Response Time We aim to respond within 24–48 hours.</p>
        <p>Thanks for your patience and paw-sitive energy!</p>
        <div class="contact-info">
            <p><strong>Email:</strong> hello@pawfectmatch.com</p>
            <p><strong>Follow Us</strong></p>
            <p>Facebook: pawfectmatchph</p>
            <p>Instagram: pawfectmatch</p>
            <p>Twitter/X: pawfectmatch</p>
        </div>
    </div>
</section>