@{
    ViewData["Title"] = "Find a Pet";
}
<h1>Find a Pet</h1>
<p>Pet search coming soon!</p>

<div class="mt-4">
    <a class="btn btn-pawfect" asp-controller="ApplicationForm" asp-action="Index">
        Apply to Adopt a Pet
    </a>
</div>